.table-container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
}

.table-header {
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
}

.table-header span {
    color: #007bff;
}

.table-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.table-actions button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

    &:hover {
        opacity: 0.9;
    }
}

.btn {
    padding: 10px 15px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
    height: max-content;
}

.table {
    min-height: 300px;
    position: relative;
}

.teams-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.teams-table thead {
    background-color: #425d7c;
    color: white;
}

.teams-table th,
.teams-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #eee;
    font-weight: 500;
}

.teams-table th {
    font-weight: bold;
}

.teams-table tbody tr:nth-child(even) {
    background-color: #ededed;
}



